<footer>
    <h4>¡Encuentranos!</h4>
    <div>
      <a class="icon-facebook" href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f fa-2x"></i></a>
      <a class="icon-instagram" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2x"></i></a>
      <a class="icon-twitter" href="https://twitter.com/"><i class="fa-brands fa-twitter fa-2x"></i></a>
      <a class="icon-youtube" href="https://www.youtube.com/"><i class="fa-brands fa-youtube fa-2x"></i></a>
    </div>
    <div id="links">
      <a href="https://carlosemr75.wixsite.com/saveme"><p>Politícas de Privacidad</p></a>
      <p id="l"> | </p>
      <a href="https://carlosemr75.wixsite.com/appmovil"><p>Términos del Servicio</p></a>
      <!--<p>Politícas de Privacidad | Términos del Servicio</p>-->
    </div>
    <!--<i class="fa-brands fa-square-facebook"></i>| Seguridad | Ayuda
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-square-twitter"></i>
    <i class="fa-brands fa-square-youtube"></i>-->
    <div>&copy; 2010-2023 GymCapyFit, All right reserved</div>
</footer>